@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */











/* ===================================================================== */

/*		GLOBAL															 */

/* ===================================================================== */



/*		GENERAL			 		*/

html, body {
	margin: 0px;
	padding: 0px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	background-color: #fff;
	color: #969696;
	}
	
i { padding: 0 10px; }
a {	text-decoration: none; }
.italic { font-style: italic; }



/*		1200px CONTAINER 		*/

.container {
	position: relative;
	margin: 0px auto;
	max-width: 1200px;
	padding: 75px 0px;
	}



/*		FULL WIDTH COLUMNS 		*/

.full-width-column {
	clear: left;
	position: relative;
	margin: 0px auto;
	padding-top: 50px;
	font-size: 0;
	}



/*		SECTION HEADLINES 		*/

section .container > h1 {
	padding-left: 10px;
	margin: 0 20px;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #aaa;
	}










/* ===================================================================== */

/*		HEADER															 */

/* ===================================================================== */

header {
	height: 600px;
	width: 100%;
	position: relative;
}

.top-bar-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 125px;
	}
	
.logo {
	width: 540px;
	height: 82px;
	margin: 0 auto;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 540px 82px;
	}

.intro {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	}
    
.intro h1 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #484848;
	margin: 25px auto;
	text-align: center;
	}

.intro p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #585858;
	max-width: 500px;
	margin: 0 auto 65px;
	text-align: center;
	}

.top-nav {
	max-width: 600px;
	margin: 0 auto;
	}

ul {
	padding: 0;
	text-align: center;
	}

nav li {
	display: inline-block;
	margin: 0 20px;
	border-bottom: 1px solid #686868;
	transition: border-bottom 0.2s;
	}

nav li:hover {
	border-bottom-width: 10px;
}

nav a {
	text-align: center;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #686868;
	}

.divider {
	width: 100%;
	height: 30px;
	background: #686868;
	}







/* ===================================================================== */

/*		KOMPETENS														 */

/* ===================================================================== */



.third-width-column {
	position: relative;
	float: left;
	width: 33.333%;
	font-size: 0px;
	}

.thirds-content {
	margin: 0px 20px;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 24px;
	}

.third-width-column .icon {
	width: 100px;
	height: 100px;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	}

.third-width-column .icon.exit {
	background-color: #233951;
	background-image: url('../img/handshake.png');
	background-repeat: no-repeat;
	background-size: 60px auto;
	background-position: 20px 28px;
	}

.third-width-column .icon.book {
	background-color: #436593;
	}

.third-width-column .icon.watt {
	background-color: #7fa8d4;
	}

.fa-lightbulb-o {
	color:white;
	margin: 20px 0 0 21px;
	}

.fa-book {
	color:white;
	margin: 28px 0 0 17px;
	}
.icon.exit img {
	margin: 28px 0 0 20px;
}
		
.third-width-column h2 {
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
	}
	
#exit h2 { color: #233951; }
#book h2 { color: #436593; }
#watt h2 { color: #7fa8d4; }

.third-width-column p {
	text-align: center;
	color: #585858;
	margin: 15px 10px 0 10px;
	}

.third-width-column a {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0px;
	color: #585858;
	text-decoration: underline;
	}

.third-width-column a:hover {
	color: #436593;
	text-decoration: none;
	}
	
.third-end { margin: 50px 60px 0; height: 3px; }
.third-end.mobile { display: none; }
#exit-end { background-color: #233951; }
#book-end { background-color: #436593; }
#watt-end { background-color: #7fa8d4; }











/* ===================================================================== */

/*		OM OSS															 */

/* ===================================================================== */

.person {
	max-width: 960px;
	margin: 0 auto;
	}

.person-text {
	float: left;
	display: inline-block;
	width: 100%;
	max-width: 600px;
	}

.person-bild {
	float: left;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-left: 20px;
	background-size: 300px;
	}

#ulf .person-bild {	background-image: url('../img/ulf.jpg'); }
#helena .person-bild { background-image: url('../img/helena.jpg'); }

.person-text h1 {
	text-transform: uppercase;
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
	color: #383838;
	padding: 0px 20px;
	margin: 0;
	}
	
.person-text h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	color: #7d7d7d;
	padding: 0px 20px;
	margin: 10px 0px 20px;
	}
	
.person-text p {
	color: #585858;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 24px;
	padding: 0px 20px;
	}
	
.person-divider {
	height: 1px;
	width: 50%;
	background-color: #ddd;
	margin: 50px auto 0px auto;	
	}

.person-divider.mobile { display: none; }

.linkedin {
	margin-top: 0px;
}

.linkedin a {
	font-size: 16px;
	letter-spacing: 0px;
	color: #aaa;
	text-decoration: none;
	}
	
.linkedin a:hover {
	color: #436593;
	color: #585858;
	text-decoration: underline;
	}


.testi {
	width: 100%;
	margin: 0 auto;
	}

.testi p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #585858;
	max-width: 650px;
	margin: 0 auto 20px;
	text-align: center;
	font-style: italic;
	}

.testi p:nth-child(2) {
	font-style: normal;
	font-weight: 600;
	margin: 0 auto 0px;
}

.testi p:nth-child(3) {
	font-style: normal;
	font-weight: 400;
	margin: 0 auto 0px;
}




/* ===================================================================== */

/*		FOOTER															 */

/* ===================================================================== */	

footer {
	padding: 50px;
	text-align: center;	
	}
	
footer p {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	}
	
footer a {
	text-decoration: none;
	}
	
.disclaimer { padding-bottom: 20px; line-height: 18px; }

.copyright {
	padding-top: 20px;
	color: #686868;
	}


.specifikation {
	text-align: left;
}






/* ===================================================================== */

/*		MEDIA QUERIES													 */

/* ===================================================================== */

/*		RETINA			*/

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

.logo {	background-image: url('../img/logo@2x.png'); }
.third-width-column .icon.exit { background-image: url('../img/handshake@2x.png'); }
#ulf .person-bild {	background-image: url('../img/ulf@2x.jpg'); }
#helena .person-bild { background-image: url('../img/helena@2x.jpg'); }


}

/*		TABLETS			*/

@media all and (max-width: 999px) {

.third-width-column {
	float: none;
	width: 100%;
	margin-top: 50px;
	}

.full-width-column {
	padding-top: 0px;
	}
	
.third-width-column p {
	text-align: center;
	color: #585858;
	margin: 15px auto 0;
	max-width: 600px;
	}

.third-width-column.mobile { display: none; }

.person {
	margin-top: 50px;
	text-align: center;
	}
	
.person-text {
	margin: 320px auto 0;
	float: none;
	display: block;
	width: 100%;
	max-width: 600px;
	}

.person-text p {
	margin-bottom: 0;
	}

.person-bild {
	position: absolute;
	top: 0px;
	float: none;
	display: block;
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
	background-size: 300px;
	}
	
.person-divider {
	margin-top: 50px;	
	}

.person-divider.mobile { display: block; }

.padding {
 	padding-top: 50px;
 }

}
@media all and (max-width: 800px) {

#link-kom:hover {
	color: #233951;
	border-bottom: 1px solid #233951;
	}
	
#link-om:hover {
	color: #436593;
	border-bottom: 1px solid #436593;
	}
	
#link-kon:hover {
	color: #7fa8d4;
	border-bottom: 1px solid #7fa8d4;
	}

}

@media all and (max-width: 640px) {

header {
	height: 430px;	
	}
	
.top-bar-container {
	padding-top: 50px;
	}

.intro p {
	margin-bottom: 50px;
	}
	
.third-width-column p {
	padding: 0 50px;
	}
.person-text p {
	padding: 0 50px;
	}

}





/*		MOBILE			*/

@media all and (max-width: 550px) {

body {
	font-size: 16px;
	line-height: 24px;
	}

.container {
	max-width: 320px;
	padding: 40px 0px;
	}

header {
	height: 380px;
	}
	
.top-bar-container {
	padding-top: 75px;
	}
	
.logo {
	width: 200px;
	height: 32px;
	background-size: 200px 32px;
	}
    
.intro h1 {
	font-size: 16px;
	line-height: 24px;
	padding: 0 10px;
	margin: 10px auto;
	}

.intro p {
	font-size: 14px;
	line-height: 21px;
	padding: 0 25px;
	margin: 0 auto 50px;
	}

.top-nav {
	max-width: 300px;
	margin: 0 auto;
	}

ul {
	padding: 0;
	text-align: center;
	}

nav li {
	display: inline-block;
	margin: 0;
	width: 90px;
	}

.divider {
	height: 15px;
	}
	
.third-width-column {
	margin-top: 50px;
	}

.third-width-column p {
	padding: 0 0px;
	max-width: 300px;
	}

.person {
	margin-top: 50px;
	text-align: center;
	}
	
.person-text {
	margin: 0 auto;
	float: none;
	display: block;
	width: 100%;
	max-width: 600px;
	}

.person-text p {
	margin-bottom: 0;
	}

.person-bild {
	position: absolute;
	top: 0px;
	float: none;
	display: block;
	width: 200px;
	height: 200px;
	left: 50%;
	margin-left: -100px;
	margin-top: 55px;
	background-size: 200px;
	}
	
.person-text > h1 {
	line-height: 0px;
	font-size: 26px;
	padding: 0px 20px;
	margin: 0 0 20px;
	}
	
.person-text > h2 {
	font-size: 14px;
	font-weight: 400;
	padding: 0px 20px;
	margin: 0;
	}
	
.person-text p {
	margin-top: 230px;
	color: #585858;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 24px;
	padding: 0px 20px;
	}

.person-text p.linkedin {
	margin-top: 0px;
	}

.testi p, .testi p.linkedin a {
	font-size: 14px;
	line-height: 24px;
	}

footer {
	padding: 50px 20px;
	line-height: 18px;
		}

#up-nav {
	padding: 0 10px 0 0;
	border-top: none;
	margin: 20px auto 0;
	float: none;	
	}

	
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
