@import "./bootstrap";


// VARS
$meta-light: hsla(215, 48%, 68%, 1);
$meta-mid: hsla(215, 31%, 42%, 1);
$meta-dark: hsla(214, 33%, 23%, 1);
$meta-mute: transparentize($meta-dark, 0.25);
$meta-shadow: 0px 2px 5px 1px transparentize($meta-dark, 0.8);
$bg-color: red;

// $pro-base: hsla(205, 0%, 50%, 1);
// $pro-dark: darken($pro-base, 20%);
// $pro-darker: darken($pro-base, 30%);
// $pro-light: lighten($pro-base, 20%);
// $pro-lighter: lighten($pro-base, 30%);
$pro-base: red;
$pro-dark: red;
$pro-darker: red;
$pro-light: red;
$pro-lighter: red;



// GENERAL
body {
    // background-color: #eee;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $meta-dark;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    color: transparentize($meta-dark, 0.5);
    font-size: 1.2rem;
    border-bottom: 2px solid transparentize($meta-dark, 0.8);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h3 {
    color: $meta-dark;
    font-size: 1.3rem;
    @include media-breakpoint-down(md) {
        font-size: 1.15rem;
    }
}


h4 {
    color: $meta-mute;
    font-size: 0.9rem;
}

p,
li {
    color: $meta-mute;
}

a {
    color: $meta-mid;
    text-decoration: underline;
}

section {
    margin: 150px 0;
}

section,
header {
    position: relative;
}


.card {
    border: none;
    box-shadow: $meta-shadow;
}

// SPECIFIC
.grad-box {
    position: absolute;
    z-index: -1;
    height: 10px;
    width: 100%;
    top: 0;
    background: linear-gradient(45deg, $meta-dark 25%, $meta-mid 25%, $meta-mid 60%, $meta-light 60%);
}

#nav {
    border-top: 10px solid $pro-base;
    ul {
        border-bottom: 1px solid $pro-light;
    }
}

#header {
    margin-top: 100px;
    img {
        width: 240px;
    }
    .fatty {
        font-weight: 700;
    }
    h1 {
        line-height: 4rem;
        margin: 50px 0 30px;
    }
    p {
        color: $meta-mute;
        letter-spacing: 1px;
    }
}

#intro {
    .intro-border {
        border-top: 5px solid $meta-dark;
        padding-top: 30px;
    }
    svg {
        width: 50px;
        float: left;
        margin-top: 4px;
        margin-right: 12px;
        .paths {
            fill: $meta-dark;
        }
    }
    p {
        font-size: 1rem;
        font-weight: 300;
        color: $meta-dark;
        line-height: 2rem;
    }
    span.intro-intro {
        font-weight: 700;
    }
}

#competence {
    .card-group {
        box-shadow: $meta-shadow;
    }
    .card {
        box-shadow: none;
    }
    .card-img-top {
        width: 96px;
    }
    p {
        // font-size: 1rem;
        // font-weight: 300;
    }

    @include media-breakpoint-down(sm) {
        .card-group {
            flex-direction: column;
            box-shadow: none;
        }
        .card {
            box-shadow: $meta-shadow;
            margin-top: 20px;
        }
        .card:first-child {
            margin-top: 0;
        }
    }
}

#services {
    .intensity {
        width: 100%;
        height: 1.5em;
        background-color: $pro-dark;
        border-radius: 4px 4px 0 0;
    }
    #intense {
        .intensity {
            background: linear-gradient(45deg, $meta-light 30%, lighten($meta-light, 10%) 30%);
        }
        li::before {
            color: $meta-light;
        }
    }

    #coach {
        .intensity {
            background: linear-gradient(45deg, $meta-mid 30%, $meta-light 30%);
        }
        li::before {
            color: $meta-light;
        }
    }

    #board {
        .intensity {
            background: linear-gradient(45deg, $meta-dark 30%, $meta-mid 30%);
        }
        li::before {
            color: $meta-light;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    li::before {
        content: "•";
        padding-right: 3px;
    }
    li {
        padding-left: 20px;
        text-indent: -.7em;
    }
    @include media-breakpoint-down(md) {
        .card-deck {
            flex-direction: column;
        }
        .card {
            margin-top: 20px;
        }
        .card:first-child {
            margin-top: 0;
        }
    }
}

#about {
    .about-header {
        width: 100%;
    }

    .about-portrait {

        display: inline-block;
        width: 30%;
        float: left;
        img {
            border-radius: 4px 0 0;
            width: 100%;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            img {
                border-radius: 4px 4px 0 0;
            }
        }
    }

    .about-info {
        @include media-breakpoint-down(sm) {
            h3 {
                font-size: 1.2rem;
                letter-spacing: 0;
            }
        }
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
    }


    .about-info-item {
        margin: 0;
    }

    .about-info-links {
        margin-top: 0.8rem;
        .badge {
            background-color: $meta-mid;
        }
        .badge a {
            text-decoration: none;
        }
        .badge:last-child {
            margin-left: 10px;
        }
    }

    .about-desc {
        padding: 20px;
    }
}

#testimonials {
    .quotes {
        position: relative;
        //min-height: 200px;
    }
    .quotes blockquote {
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity 1s ease;
        // display: none;
        p:first-child {
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 300;
            color: $meta-mute;
        }
        p:nth-child(2) {
            margin-top: 20px;
        }
        p {
            margin: 0;
        }
        .owner {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    blockquote#prospect {
        position: relative;
    }

    .quotes .active {
        // display: block;
        opacity: 1;
        animation-name: fadeIn;
        animation-duration: 7s;
    }
}

#contact {
    padding: 30px;
    background-color: $meta-dark;
    img {
        width: 300px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -100px;
    }
    p {
        margin: 0;
        color: transparentize(lighten($meta-dark, 35%), 0.1);
    }
    .copyright {
        margin-top: 10px;
        color: transparentize(lighten($meta-dark, 35%), 0.4);
        font-weight: 300;
        font-size: 0.9rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}


.header-bubbles {
    @include media-breakpoint-up(xs) {
        position: absolute;
        z-index: -1;
        top: -100px;
        right: 0px;
        width: 300px;
        overflow: visible !important;
        // border: 1px solid red;
        .golden-group { transform: translate(200px, 0px); }
        .golden-1 { transform: translate(110px, 210px); }
        .golden-2 { transform: translate(190px, 110px); }
        .golden-3 { transform: translate(10px, 530px); }
        .golden-4 { transform: translate(40px, 565px); }
        .golden-5 { transform: translate(100px, 580px); }
    }
    @include media-breakpoint-up(sm) {
        .golden-group { transform: translate(150px, 0px); }
        .golden-1 { transform: translate(110px, 150px); }
        .golden-2 { transform: translate(190px, 230px); }
        .golden-3 { transform: translate(120px, 460px); }
        .golden-4 { transform: translate(90px, 515px); }
        .golden-5 { transform: translate(150px, 570px); }
    }
    @include media-breakpoint-up(md) {
        width: 350px;
        .golden-group { transform: translate(130px, 0px); }
        .golden-1 { transform: translate(110px, 150px); }
        .golden-2 { transform: translate(170px, 230px); }
        .golden-3 { transform: translate(70px, 360px); }
        .golden-4 { transform: translate(50px, 415px); }
        .golden-5 { transform: translate(100px, 500px); }
    }
    @include media-breakpoint-up(lg) {
        .golden-group { transform: translate(50px, 0px); }
    }
}

.competence-bubbles {
    @include media-breakpoint-up(xs) {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 300px;
        overflow: visible !important;
        // border: 1px solid red;
        .golden-group { transform: translate(200px, -20px) scale(.5); }
        .golden-1 { transform: translate(0px, 0px); }
        .golden-2 { transform: translate(50px, 100px); }
    }
    @include media-breakpoint-up(md) {
        .golden-group { transform: translate(50px, 50px) scale(1.5); }
        .golden-1 { transform: translate(0px, 0px); }
        .golden-2 { transform: translate(-50px, 100px); }
    }
}

.services-bubbles {
    @include media-breakpoint-up(xs) {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 300px;
        overflow: visible !important;
        // border: 1px solid red;
        .golden-group { transform: translate(300px, -150px) scale(1); }
        .golden-3 { transform: translate(20px, 0px); }
        .golden-4 { transform: translate(-20px, 40px); }
        .golden-5 { transform: translate(0px, 100px); }
    }
}

.about-bubbles {
    @include media-breakpoint-up(xs) {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 300px;
        overflow: visible !important;
        // border: 1px solid red;
        .golden-group { transform: translate(0px, -130px) scale(1.5); }
        .golden-2 { transform: translate(0px, 0px); }
        .golden-3 { transform: translate(80px, 30px); }
    }
}

.testimonials-bubbles {
    @include media-breakpoint-up(xs) {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        overflow: visible !important;
        // border: 1px solid red;
        .golden-group { transform: translate(400px, -150px) scale(1); }
        .golden-2 { transform: translate(0px, 0px); }
        .golden-3 { transform: translate(80px, -20px); }
        .golden-4 { transform: translate(150px, 80px) scale(0.8); }
    }
    @include media-breakpoint-up(lg) {
        .golden-group { transform: translate(400px, -100px) scale(1); }
    }
}

.transition-all {
    transition: all 0.5s ease;
}